<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <title>User Info</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
              crossorigin="anonymous">

    </head>
<body>

<!--Шапка-->
<div class="container-fluid">
    <div class="row bg-dark bg-gradient align-items-center">
        <div class="col-11">
                    <span class="nav navbar-text text-white fs-4">
                        <strong><th:block th:text="${meUser.getEmail}"></th:block></strong>
                        &nbsp;<th:block th:text="'with roles: '+ ${meUser.getRolesString}"></th:block>
                    </span>
        </div>
        <div class="col-1">

            <!--        Логаут-->
            <ul class="nav navbar-nav float-end">
                <li class="nav-item">
                    <a class="nav-link active fs-5 text-white" href="/logout">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>

    <!--Боковое меню-->
    <div class="row">
        <div class="col-md-2 bg-white vh-100"><br>
            <ul class="nav flex-column nav-pills fs-5">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User info</a>
                </li>
            </ul>
        </div>

        <!--        Основной блок-->
        <div class="col-md-10 bg-light vh-100"><br>
            <h1>
                Admin panel
            </h1>
            <!--            Таблица с таблицей-->
            <table class="table table-striped bg-white align-middle">
                <thead>
                <tr>
                    <th>
                        <ul class="nav nav-tabs fw-normal">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">New user</a>
                            </li>
                        </ul>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <h3>
                            &nbsp;Add new user
                        </h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                                    <table class="table bg-white align-middle table-borderless">
                                        <tbody>
                                        <tr>
                                            <td class="text-left fs-5">
                                                <label for="firstName">Enter name:</label>
                                            </td>
                                            <td class="text-center">
                                                <input class="form-control" type="text" th:field="${user.firstName}" id="firstName">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left fs-5">
                                                <label for="lastName">Enter Last Name:</label>
                                            </td>
                                            <td class="text-center">
                                                <input class="form-control" type="text" th:field="${user.lastName}" id="lastName">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left fs-5">
                                                <label for="age">Enter age:</label>
                                            </td>
                                            <td class="text-center">
                                                <input class="form-control" type="text" th:field="${user.age}" id="age">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left fs-5">
                                                <label for="Email">Enter Email:</label>
                                            </td>
                                            <td class="text-center">
                                                <input class="form-control" type="text" th:field="${user.email}" id="Email">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left fs-5">
                                                <label for="Password">Enter Password:</label>
                                            </td>
                                            <td class="text-center">
                                                <input class="form-control" type="text" th:field="${user.password}" id="Password">
                                            </td>
                                        </tr>
                                        <tr th:each="role:${roles}">
                                            <td class="text-left fs-5">
                                                <label class="form-check-label" th:text="${role.getRoleAsString()}"></label>
                                            </td>
                                            <td class="text-center">
                                                <input class="form-check-input" type="checkbox" th:field="${user.roles}" th:value="${role.getId()}"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center btn-lg" colspan="2">
                                                <input class="btn btn-success" type="submit" value="ADD NEW USER"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>